[submodule "ThirdParty/liboqs-cpp"]
	path = ThirdParty/liboqs-cpp
	url = https://github.com/open-quantum-safe/liboqs-cpp
[submodule "ThirdParty/liboqs"]
	path = ThirdParty/liboqs
	url = https://github.com/open-quantum-safe/liboqs
