[submodule "ThirdParty/liboqs"]
	path = ThirdParty/liboqs
	url = https://github.com/open-quantum-safe/liboqs
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
